This is an arm-none-eabi build of compiler-rt builtins.
See https://github.com/ReservedField/arm-compiler-rt for source and details.

Prebuilt libraries are in lib/, divided in the following directories:
- armv6-m/: ARMv6-M (e.g. Cortex-M0/M0+/M1)
- armv7-m/: ARMv7-M (e.g. Cortex-M3)
- armv7e-m/: ARMv7E-M, soft float ABI, no FPU (e.g. Cortex-M4/M7)
- armv7e-m/fpu/: ARMv7E-M, hard float ABI, VFPv4 FPU (e.g. Cortex-M4F)
- armv7e-m/fpu-v5/: ARMv7E-M, hard float ABI, single-precision VFPv5 FPU
                    (e.g. Cortex-M7F with SP FPU)
- armv7e-m/fpu-dp/: ARMv7E-M, hard float ABI, double-precision VFPv5 FPU
                    (e.g. Cortex-M7F with DP FPU)

Please note that nested functions are not supported yet.

The original CREDITS.TXT and LICENSE.TXT from compiler-rt are included.
